# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# --- Track only run/options.txt ---
# Ignore whole run directory
run/

# Allow git to look inside run
!run/

# Ignore everything inside run
run/*

# But track only this file
!run/options.txt
